<%= form_with model: park, local: true do |form| %>

    <div class="field">
        <%= form.label :name, 'Park Name'%>
        <%= form.text_field :name, class: 'form-control' %>
        <% if park.errors.full_messages_for(:name).any?%>
            <div class="invalid-feedback">
                <% park.errors.full_messages_for(:name).each do |error_message|%>
                    <%= error_message %>.
                <% end %>
            </div>
        <% end %>
    </div>



    <div class="field">
        <%= form.label :address%>
        <%= form.text_field :address, class: 'form-control' %>
        <% if park.errors.full_messages_for(:address).any?%>
            <div class="invalid-feedback">
                <% park.errors.full_messages_for(:address).each do |error_message|%>
                    <%= error_message %>.
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="field">
        <%= form.label :city%>
        <%= form.text_field :city, class: 'form-control' %>
        <% if park.errors.full_messages_for(:city).any?%>
            <div class="invalid-feedback">
                <% park.errors.full_messages_for(:city).each do |error_message|%>
                    <%= error_message %>.
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="field">
        <%= form.label :state%>
        <%= form.text_field :state, class: 'form-control' %>
        <% if park.errors.full_messages_for(:state).any?%>
            <div class="invalid-feedback">
                <% park.errors.full_messages_for(:state).each do |error_message|%>
                    <%= error_message %>.
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="field">
        <%= form.label :size%>
        <%= form.text_field :size, class: 'form-control' %>
        <% if park.errors.full_messages_for(:size).any?%>
            <div class="invalid-feedback">
                <% park.errors.full_messages_for(:size).each do |error_message|%>
                    <%= error_message %>.
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="field">
        <%= form.label :leash%>
        <%= form.text_field :leash, class: 'form-control' %>
        <% if park.errors.full_messages_for(:leash).any?%>
            <div class="invalid-feedback">
                <% park.errors.full_messages_for(:leash).each do |error_message|%>
                    <%= error_message %>.
                <% end %>
            </div>
        <% end %>
    </div>


<%if user_signed_in? %>
<% if current_user.admin == true %>
    <div class="field">
        <%= form.label :approved %>
        <%= form.select :approved, options_for_select(["false","true"], selected: @park.approved),class: 'form-control' %>
</div>

<% end %>
<%end%>
    </div>

    <div class="actions">
        <%= form.submit 'Submit', class: 'btn btn-primary'%>
    </div>
<% end %>
