<main role="main" class="container">


    <h1>Parks</h1>
	<p>
	<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBoj1FdGM5fcqBdj9MCTVFlEhm3FTcoUzY
    &q=parks+in+<%=request.location.city%>+<%=request.location.state%>" allowfullscreen>
</iframe></p>
	</br>

<h4>Search by City</h4>
<p>
	<%= form_tag parks_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :city => nil%>
<% end %>
</p></br>

<% if user_signed_in? && current_user.admin == true%>
    <table class="table table-sm">
    <thead>
        <tr>

        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
		<th scope="col">Size</th>

        <th scope="col">Leash</th>

	<th scope="col">Approved</th>
        <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <% @parks.each do |park| %>
        <tr>

        <td><%= park.name %></td>
        <td><%= park.address %></td>
        <td><%= park.city %></td>
        <td><%= park.state %></td>
        <td><%= park.size %></td>
		<td><%= park.leash %></td>

	<%if park.approved == true%>
            <td>Approved</td>
            <%else%>
            <td>Not Approved</td>
<%end%>
        
        <td>
 
            <%= link_to 'Show', park_path(park) %>           
            <%= link_to 'Edit', edit_park_path(park) %>
            <%= link_to 'Destroy', park_path(park), method: :delete %> 
            
        </td> 
        
        </tr>

        <% end %>


    </tbody>
    </table>
    <p>
        <%= link_to 'Create New park', new_park_path%>
    </p>
	<%else%>
    <table class="table table-sm">
    <thead>
        <tr>

        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Size</th>
        <th scope="col">Leash</th>
        <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <% @parks.each do |park| %>
        <tr>
	<%if park.approved == true %>

        <td><%= park.name %></td>
        <td><%= park.address %></td>
        <td><%= park.city %></td>
        <td><%= park.state %></td>
        <td><%= park.size %></td>
        <td><%= park.leash %></td>
        <td><%= link_to 'Show', park_path(park) %> </td>

	<%end%>
        
        </tr>
        <% end %>
    </tbody>
    </table>
	
 

    <p>
        <%= link_to 'Create New park', new_park_path%>
    </p>
<%end%>
</main><!-- /.container -->
