<main role="main" class="container">


    <h1>Parks</h1>
	<p>
	<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBoj1FdGM5fcqBdj9MCTVFlEhm3FTcoUzY
    &q=dog+friendly+parks+in+<%=request.location.city%>+<%=request.location.state%>" allowfullscreen>
</iframe></p>
	<br>

<h4>Search by City</h4>
<p>
	<%= form_tag parks_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :city => nil, class: 'btn btn-default'%>
<% end %>
</p><br>

<div class="row d-flex justify-content-center">
    <div class="menu-content  col-lg-7">
        <div class="title text-center">
            <br>
            <h1 class="mb-10">Luna's List Certified Parks</h1>
            <% if user_signed_in? %>
                <div class="actions">
                    <%= link_to "Apply for Certification", new_park_path, :class => 'btn btn-primary'%>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class='row'>
    <% @parks.each do |park| %>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <%if park.approved == true || (user_signed_in? && current_user.admin == true)%>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><%=link_to park.name, park_path(park), class: "card-link"%></h4>
                            <h6 class="card-subtitle mb-2 text-muted"><%=park.address%></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%=park.city%>, <%=park.state%></h6>
                            <h6 class="card-text">Size: <%=park.size%></h6>
                            <h6 class="card-text">Leashes: <%=park.leash%></h6>
                            <% if user_signed_in? && current_user.admin == true %>
                                <%if park.approved == true%>
                                    <h6 class="card-text">Approved</h6>
                                <%else%>
                                    <h6 class="card-text">Not Approved</h6>
                                <%end%>
                                <%= link_to edit_park_path(park), class: 'btn btn-default' do %>
                                    <span class="fa fa-edit"></span>
                                <% end %>
                                <%= link_to park, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-default' do %>
                                    <span class="fa fa-trash-o"></span>
                                <% end %>
                            <%end%>
                        </div>
                    </div>
                <%end%> 
            </div>   
        </div>
    <%end%>
</div> 	


</main><!-- /.container -->
