<main role="main" class="container">


    <h1>Vets</h1>
	
	<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBoj1FdGM5fcqBdj9MCTVFlEhm3FTcoUzY
    &q=vets+in+<%=request.location.city%>+<%=request.location.state%>" allowfullscreen>
</iframe>
	
	<% form_tag projects_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<% if user_signed_in? && current_user.admin == true%>
    <table class="table table-sm">
    <thead>
        <tr>
        <th scope="col">Business</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
	<th scope="col">Approved</th>
        <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <% @vets.each do |vet| %>
        <tr>
        <td><%= vet.businessName %></td>
        <td><%= vet.name %></td>
        <td><%= vet.address %></td>
        <td><%= vet.city %></td>
        <td><%= vet.state %></td>
        <td><%= vet.phone %></td>
        <td><%= vet.email %></td>
	<%if vet.approved == true%>
            <td>Approved</td>
            <%else%>
            <td>Not Approved</td>
<%end%>
        
        <td>
 
            
            <%= link_to 'Edit', edit_vet_path(vet) %>
            <%= link_to 'Destroy', vet_path(vet), method: :delete %> 
            
        </td> 
        
        </tr>
        <% end %>
    </tbody>
    </table>

    <p>
        <%= link_to 'Create New Vet', new_vet_path%>
    </p>
	<%else%>
    <table class="table table-sm">
    <thead>
        <tr>
        <th scope="col">Business</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <% @vets.each do |vet| %>
        <tr>
	<%if vet.approved == true %>
        <td><%= vet.businessName %></td>
        <td><%= vet.name %></td>
        <td><%= vet.address %></td>
        <td><%= vet.city %></td>
        <td><%= vet.state %></td>
        <td><%= vet.phone %></td>
        <td><%= vet.email %></td>
	<%end%>
        
        </tr>
        <% end %>
    </tbody>
    </table>
	
 

    <p>
        <%= link_to 'Create New Vet', new_vet_path%>
    </p>
<%end%>
</main><!-- /.container -->
