<% provide(:title , 'Home')%>
<body>
  <section class="logo-header">
   <div class="container h-100">
      <div class="row h-100 align-items-center">
         <div class="col-12 col-md-12 text-center header-content">
            <h1>Welcome to Luna's List</h1>
            <p>A place dedicated to dog lovers</br>
        Bringing our furry friends closer</p>
         </div>
      </div>
   </div>

</section>
</br></br></br>
<div class="container event-container">
    <div class="row">
        <div class="col-md-6 event-list">
          <h2>Upcoming Events</h2>
          <hr>
          <ul class="event-list">
            <% @events.each do |each| %>
            <li>
              <time>
                <span class="day"><%= each.time.day %></span>
                <span class="month"><%= each.time.strftime("%b")%></span>
                <span class="year"><%= each.time.year %></span>
                <span class="time"><%= each.time.time %></span>
              </time>
              <div class="info">
                <h2 class="title"><%= each.title %></h2>
                <p class="desc"><%= each.location %></p>
                <p class="desc"><span class="fa fa-clock-o"></span> <%= each.time.strftime("%I:%M %P")%></p>
              </div>

            </li>
            <% end %>
            <%= link_to "View More Details", events_path %>
          </ul>
          <br><br>
        </div>
        <div class="col-md-6 luna-img">
          <h2>Tips</h2>
          <hr>
          <ul>
          <li><%= link_to "Feeding Tips", feedingtips_path %></li>
          <li><%= link_to "Etiquette Tips", etiquettetips_path %></li>
          <li><%= link_to "Care Tips", caretips_path %></li>
          </ul>
          <%= image_tag('LunasList.jpg', style: 'width:70%')%>
        </div>
    </div>
</div>


</body><!-- /.container -->
