<body>
<main>
  <section id="events" class="section-with-bg">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h2>Pending Events</h2>
        <p>Click edit icon to approve an event.</p>
      </div>
      <div class="container"
      <div class="content row justify-content-center">
        <!-- event list -->
        <% @events.each do |each| %>
        <% if each.approved == false %>

          <div class="row event-item">
            <div class="col-md-2">
              <p>
              <time><%= each.time.strftime("%b")%></time>
              <time><%= each.time.day %>,</time>
              <time><%= each.time.year %></time>
              </p>
              <p><%= each.time.strftime("%I:%M %P")%></p>
            </div>
            <div class="col-md-9">
              <h4><%= each.title %></h4>
              <p><%= each.description %></p>
              <p><span class="fa fa-map-marker"> <%= each.location %></span></p>
            </div>
            <div class="col-md-1">
              <br>
              <td>
                <%= link_to edit_event_path(each), class: 'btn btn-default' do %>
                  <span class="fa fa-edit"></span>

                <% end %>
              </td>
              <td>
                <%= link_to each, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-default' do %>
                  <span class="fa fa-trash-o"></span>
                <% end %>
              </td>

            </div>

          </div>
          <% end %>
          <% end %>

        <!-- End Schdule Day 1 -->

      </div>
      </div>

    </div>
    <br>
    <div class="new_button">
        <%= link_to 'Back', events_path%>
    </div>

  </section>
</main>
</body><!-- /.container -->
