<%= provide(:title, "Show Page")%>
<main role="main" class="container'">
<p>
    <b>Description: </b> <%= @event.description %></b>
</p>
<p>
    <b>Location: </b> <%= @event.location%></b>
</p>
<p>
    <b>Date and Time: </b> <%= @event.time %></b>
</p>


<p>
   
    <%= link_to 'Back', events_path%>
</p>
</main>

<div class="row">
  <div class="small-2 large-2 columns">
    <%= rating_for @park, @current_user%>
  </div>
<br>
  <div class="small-2 large-2 columns">
    <% if current_user %>
      Quality: <%= rating_for @park, "quality", disable_after_rate: true, imdb_average: true %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %>
