<%= form_for @post do |f| %>
  <%= f.error_messages %>
  <% if params[:topic] %><input type="hidden" id="topic_forum_id" name="post[topic_id]" value="<%= params[:topic] %>" /><% end %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :topic_id %><br />
    <%= f.text_field :topic_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
